.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.how-it-works {
  padding: 1rem 0;
  background: #236c7e;
  text-align: center;
}

.how-it-works h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
}

.how-it-works .flex > div {
  width: 30%;
}

.how-it-works h4 {
  color: #ffffff;
  margin-top: 1rem;
}
.how-it-works p {
  color: rgb(255, 196, 0);
}

.how-it-works span.fas {
  color: #ffffff;
  font-size: 35px;
}
