@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
  }
body {
    
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Lato", sans-serif;
  }
  .mainDiv{
    /* width: 100%; */
    /* display: flex;
    flex: 1;
    position: relative; */
    display: flex;
   
  }
.dev{
  margin: 30px auto 0;
  position: fixed;
    padding-top: 5.2%;
    width: 15%;
}
.content{
  width: 85%;
}
.sidebar {
    
    margin: 0;
    padding: 0;
    
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  /* .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
   */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* div.content {
    margin: 0;
    padding: 0;
  }
   */
  /* @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  } */

  
  .leftDiv{

  }
  .rightDiv{

  }